.vscode
.zed
*.key
*.ova
start_node_js_http_server.sh
start_python_http_server.sh
/package-lock.json
/package.json
/pnpm-lock.yaml

# Content we never share publicly
exercise
TODO
Temp*

# Generated/downloaded files and folders
node_modules
.mypy_cache
__pycache__
*.rst.html
*.rst.html.pdf
*.rst.html.passwords.txt


