# images/hanoi.svg (done by hand: fonts)
# images/aufwand.svg (done by hand: fonts)
# images/insertion_sort.svg (done by hand: fonts)
# images/fib.svg (done by hand: fonts)
# images/aufwandsklassen.svg (done by hand: viewBox added)

code/Erfuellbarkeitsproblem_Hoffmann_WDSKI23A.py
